# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv/

# База данных
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp

# Документация Sphinx
docs/_build/

# Тесты
.pytest_cache/
.coverage
htmlcov/

# ОС
.DS_Store
Thumbs.db

*.pdf